.button
{
    font-family:"myriad pro";
    font-size:25px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    border-radius:100px;
    background-color:#28389c;
    padding:22px 32px;
    
}
.button:hover
{
    color:white;
    text-decoration:none;
    background-color:#1f2b79;
    
}
.title
{
  font-family: "myriad pro";

  font-size: 40px;
  font-weight: 700;
  color: #8d2c8a;
}
.infoText
{
  font-family: "myriad pro";
  font-size: 19px;
  font-weight: 500;
}