.navbg
{
  background-color: #8d2c8a;
}

.headerContainer
{
  background-image: url("headerimg.png");

  height: 390px;


}
.lentilaContainer
{
  height: 343px;
  width: 681px;

  padding-top: 63px;
  margin-left: -114px;
}
.lentila
{
  height: 100%;
  width: 100%;

  background-color: rgba(141, 44, 138, .5);
  border-top-left-radius: 70px;
  border-bottom-left-radius: 180px;
  border-top-right-radius: 200px;

  border-bottom-right-radius: 140px;
}
.lentilaTitle
{
  padding-left: 110px;
  padding-top: 50px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size:60px;
  color: white;
}
.lentilaText
{
  display: inline;

  font-weight: bold;
  font-style: italic;
  font-size: 26px;
  color: white;



}
.lentilaTextContainer
{
  padding-left: 110px;


}
.qoutationMark1
{
  vertical-align: bottom;
  margin-bottom: 23px;
}
.qoutationMark2
{
  vertical-align: top;
  margin-top: 15px;
}
footer
{
  background-color: #28389c;
  color: white;

  font-size:41.98px;
  font-weight: bold;
  text-align: center;
}
.footerText
{
  color: #5a5a5a;

  font-size: 20px;
  display: inline;
}

.footerLogo1
{
  padding-bottom: 18px;

}

.widget
{


  list-style: none;
}
.logo_imgContainer
{
  display: inline-block;
margin: 20px;
}
.footerInfo
{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
}
.footerLink
{
  text-decoration: none;
  color:white;
}
.footerLink:hover
{
  text-decoration: none;
  color:#fff8a6;
}
.footerTextContainer
{
  padding-top: 42px;
}


@media only screen and (max-width:500px){
    .footerInfo
    {
      font-size: 20px;
    }
    .footerText
    {
      font-size: 15px;
    }
    .headerContainer
    {
      background-position: 600px;
    }
    .lentilaContainer
    {
      padding: 0;
      padding-top: 10px;
      width:100%;
      height: auto;
      margin-left: 0;
    }
    .lentilaTitle
    {
      font-size: 38px;
      padding-top: 60px;
      padding-left: 30px;
    }
    .lentilaText
    {
      font-size: 20px;
    }
    .lentilaTextContainer
    {
      padding-left: 40px;
      padding-right: 30px;
      padding-bottom: 70px;
    }
  }
@media only screen and (min-width:500px) and (max-width:768px)
{
  .footerInfo
  {
    font-size: 30px;
  }
  .footerText
  {
    font-size: 20px;
  }
  .headerContainer
  {
    background-position: 770px;
  }
  .lentilaContainer
  {
    padding:0;
    padding-top: 10px;
    width:100%;
    height: auto;
    margin-left: 0;
  }
  .lentilaTitle
  {
    font-size: 40px;
    padding-top: 60px;
    padding-left: 30px;
  }
  .lentilaText
  {
    font-size: 20px;
  }
  .lentilaTextContainer
  {
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
}
.button
{

    font-size:23px;
    font-weight:bold;
    text-decoration:none;
    color: white;
    border-radius:100px;
    background-color:#28389c;
    padding:22px 32px;

}

.button:hover
{
    color:#28389c;
    text-decoration:none;
    background-color:white;
    border:solid #28389c 4px;
}

.title
{


  font-size: 40px;
  font-weight: 700;
  color: #8d2c8a;
}
.infoText
{

  font-size: 19px;
  font-weight: 500;
}
@media only screen and (min-width:576px) and (max-width:768px)
{
  .lentilaContainer
  {
    margin-left: -32px;
  }
}
@media only screen and (max-width: 400px)
{
    .button
    {
        font-size:17px;
    }

}
@media only screen and (min-width:768px) and (max-width: 1200px)
{
  .headerContainer
  {
    background-position: 1200px;
  }
  .lentilaContainer
  {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;
    height: auto;
    margin-left: -35px;
  }
  .lentilaTextContainer
  {
    padding-bottom: 60px;
    padding-left: 40px;
  }
  .lentilaTitle
  {
    padding-left: 45px;
  }
}

@media only screen and (min-width:1200px) and (max-width: 1350px)
{
  .lentilaTextContainer
  {
    padding-left: 45px;
  }
  .lentilaTitle
  {
    padding-left: 40px;
  }
  .lentilaContainer
  {
    margin-left: -40px;
  }
}
@media only screen and (min-width:1900px)
{
  .headerContainer
  {
    background-size: 100% auto;
  }
}
